body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: #1d0303;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    padding: 10px 30px;
}

.logo img{
    width: 70px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 5px 15px;
}

nav a{
    color: goldenrod;
    text-decoration: none;
}

nav a:hover{
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.background-info{
    text-align: center;
    padding: 40px;
}

.background-info h2{
    color: green;
}

.vision-mission{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 40px;
}

.vision-mission h3{
    color: goldenrod;
}

.objectives{
    width: 40%;
    background-color: #fae8b5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px green;
}

.objectives ul{
    padding-left: 20px;
}

.services{
    text-align: center;
    padding: 40px;
}

.services h2{
    color: green;
    margin-bottom: 20px;
}

.services p{
    max-width: 800px;
    margin: 0 auto;
}

.service-images{
    display: flex;
    justify-content: center;
    gap: 30x;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.service-images img{
    width: 25%;
    height: 200x;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px goldenrod;
    border: 3px solid rgb(11, 65, 11);
}

.solutions{
    background-color: #fae8b5;
    padding: 40px;
    text-align: center;
}
.solutions h2{
    color: green;
    margin-bottom: 20px;
    font-size: 28px;
}

.slns{
    display: inline-block;
    width: 28%;
    height: 410px;
    margin: 10px;
    background-color: beige;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px green;
    vertical-align: top;
}
.slns img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.slns p{
    color: #333;
    margin-top: 10px;
    font-size: 15px;
}

footer{
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}
